<h1>{{title}}</h1>

<h4>I am</h4>
<form action="/pickGoF" method="post">
{{#each students}}
<label><input type="radio" name="student" id="{{@key}}" value="{{@key}}">{{@key}}</label><br/>
{{/each}}
<br/>
<button type="submit" class="btn btn-primary">Pick me a GoF Pattern</button>
<br/>
</form>

<table class="table">
    <thead>
        <th>Student</th>        
        <th>Pattern 1</th>
        <th>Pattern 2</th>
        <th>Pattern 3</th>
        <th>Pattern 4</th>
        <th>Pattern 5</th>
        <th>Pattern 6</th>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>            
        {{/each}}
    </tbody>

</table>

<h3>Patterns</h3>
<span>remaining patterns: {{remainingPatterns.length}}</span>
<ul class="list-group">
    {{#each remainingPatterns}}
  <li class="list-group-item">{{this}}</li>
  {{/each}}
</ul>


